p{
   text-align: justify;
    text-align: center;
}
h1{
    text-align: center;
}
.zozo{
    clear: right;
    
}
.zozi{
    clear: right;
}
.yo{
    text-align: center;
    font-size: 20px;
}
h2{
    text-align: center;
}